
*{
	color: #fffdd0;
}


html, body{ height:100%; margin-top:auto; }
header{ height:50px; background:lightcyan; }
footer{ height:50px; background:PapayaWhip; }



#carousel-news {

	height: 20vh;
	padding: 10vh 15vh;
}

body {
  background-image: url('./images/bg2.jpg');
  overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical
  min-height: 100%;
  display:flex; 
  flex-direction:column;

}

body .navbar{
   background: rgb(0,0,0);
   background: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,117,141,1) 100%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body .nav-item{
	color: #FFFFFF ;
}
#intro h1, #intro p {
	margin-bottom: 1rem;
	text-align: center;
}

h1 .header {
	color: white;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div .container {
  text-align: center;
  padding: 10px 20px;
}

#intro div {
	text-align: center;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #40E0D0;
	border-radius: 15px;
	font-size: 1rem;
	padding: 1rem;

}

footer {
	 background: rgb(0,0,0);
     background: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,117,141,1) 100%);
     margin-top:auto; 
	
}

/*footer a {
	clear: both;
     position: relative;
     min-height: auto;
     margin-top: -50px;

}*/
/*footer*/


/*footer {
	
	display: flex;
	justify-content: center;*/
	/*padding: 0.7rem;*/
	/*padding: 1rem;*/

	/*display: flex;
	justify-content: space-around;
	background-color: #808080	;
	color: white;
}
*/

/*footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}*/



#contact p{font-size: 10px;
text-align: center;}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 500px;
  object-position: center;
   /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #379392;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #379392;
  color: white;
  transform: rotateY(180deg);
}